<div class="page-layout">
  <div class="page-content">

    <div class="page-content-block background-color-white">
      <greetingWithText [vm]="vm.greetingWithTextViewModel" [paddingBottom]="'120px'"></greetingWithText>
    </div>

    <div class="page-content-block background-color-green">
      <provideInfo [vm]="vm.provideInfoViewModel"></provideInfo>
    </div>

    <div class="page-content-block background-color-green">
      <shareDetailsInfo [vm]="vm.shareAProjectViewModel"></shareDetailsInfo>
    </div>

    <div class="page-content-block background-color-white">
      <whyDoUseInfo [vm]="vm.whyDoUseViewModel"></whyDoUseInfo>
    </div>

    <div class="page-content-block background-color-white">
      <whyDelegateInfo [vm]="vm.delegateViewModel"></whyDelegateInfo>
    </div>

    <div class="page-content-block background-color-white">
      <contactus [vm]="vm.contactusViewModel"></contactus>
    </div>

  </div>
</div>