.layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../../../assets/Images/GreenRound.svg');
    background-repeat: no-repeat;
    background-size: 587px;
    background-position: center;

    min-height: 700px;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 96px;
    padding-bottom: 146px;
}

.titleUp {
    margin: 0;
    margin-bottom: 18px;

    color: #F07441;
    font-family: 'Satoshi-Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

.title {
    font-family: 'Satoshi-Bold', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    text-align: center;

    margin-top: 0;
    margin-bottom: 34px;
}

.description {
    justify-content: center;
    width: 44%;

    font-family: 'Satoshi-Medium', sans-serif;
    font-weight: 500;

    font-size: 18px;
    line-height: 28px;

    text-align: center;

    margin-top: 0;
    margin-bottom: 46px;
}

.btn-container {
    font-family: 'Satoshi-Bold', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.btn-content {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;

    height: 56px;

    font-family: "Satoshi-Bold";
    font-weight: 700;
    color: #ffffff;

    border: none;

    padding: 0 50px;

    cursor: pointer;

    background-color: #193028;
    border-bottom: 2px solid #38bc64;
}

@media screen and (max-width: 1130px) {
    .layout {
        background-size: 300%;
        background-position-x: center;
        background-position-y: top;

        margin-top: 38px;
        min-height: 500px;
    }

    .content {
        padding-top: 95px;
        padding-bottom: 60px;

        width: 90%;
    }

    .description {
        width: 100%;

        font-size: 12px;
        line-height: 18px;
    }

    .title{
        font-size: 18px;
        line-height: 24px;
    }

    .title >>> br{
        display: none;
    }
}