<div class="page-layout">
  <div class="page-content">
    <div class="page-content-block background-color-white">
      <greetingWithImage [vm]="vm.greetingWithImageViewModel"></greetingWithImage>
    </div>

    <div class="page-content-block background-color-white">
      <missionInfoWithTwoColumn [vm]="vm.missionInfoWithTwoColumnViewModel"></missionInfoWithTwoColumn>
    </div>

    <div class="page-content-block background-color-green">
      <industriesInfo [vm]="vm.industriesInfoViewModel"></industriesInfo>
    </div>

    <div class="page-content-block background-color-green">
      <shareDetailsInfo [vm]="vm.shareDetailsInfoViewModel"></shareDetailsInfo>
    </div>

    <div class="page-content-block background-color-white">
      <ourProjectsInfo [vm]="vm.ourProjectsInfoViewModel"></ourProjectsInfo>
    </div>

    <div class="page-content-block background-color-white">
      <clientReviews [vm]="vm.clientReviewsViewModel"></clientReviews>
    </div>

    <div class="page-content-block background-color-white">
      <shareDetailsInfo [vm]="vm.shareProjectViewModel"></shareDetailsInfo>
    </div>

    <div class="page-content-block background-color-white">
      <technologiesInfo [vm]="vm.technologiesInfoViewModel"></technologiesInfo>
    </div>

    <div class="page-content-block background-color-green">
      <aboutUsInfo [vm]="vm.aboutUsViewModel"></aboutUsInfo>
    </div>

    <div class="page-content-block background-color-white">
      <contactus [vm]="vm.contactusViewModel"></contactus>
    </div>

  </div>
</div>