<div class="page-layout">
  <div class="page-content">

    <div class="page-content-block background-color-white">
      <greetingWithText [vm]="vm.greetingWithTextViewModel" [paddingBottom]="'120px'"></greetingWithText>
    </div>

    <div class="page-content-block background-color-green">
      <provideInfo [vm]="vm.provideoInfoViewModel"></provideInfo>
    </div>

    <div class="page-content-block background-color-white">
      <transparentProcessInfo [vm]="vm.transparentProcessInfoViewModel"></transparentProcessInfo>
    </div>

    <div class="page-content-block background-color-white">
      <shareDetailsInfo [vm]="vm.shareDetailsInfoViewModel"></shareDetailsInfo>
    </div>

    <div class="page-content-block background-color-white">
      <provideWithBlocksInfo [vm]="vm.provideWithBlocksInfoViewModel"></provideWithBlocksInfo>
    </div>

    <div class="page-content-block background-color-white">
      <whyDelegateInfo [vm]="vm.whyDelegateInfoViewModel"></whyDelegateInfo>
    </div>

    <div class="page-content-block background-color-white">
      <contactus [vm]="vm.contactUsViewModel"></contactus>
    </div>

  </div>
</div>