<div class="page-layout">
  <div class="page-content">

    <div class="page-content-block background-color-white">
      <greetingWithText [vm]="vm.greetingWithTextViewModel"></greetingWithText>
    </div>

    <div class="page-content-block background-color-white">
      <missionInfoWithTwoColumn [vm]="vm.missionInfoWithTwoColumnViewModel"></missionInfoWithTwoColumn>
    </div>

    <div class="page-content-block background-color-white">
      <shareDetailsInfo [vm]="vm.shareDetailsInfoViewModel"></shareDetailsInfo>
    </div>

    <div class="page-content-block background-color-green">
      <provideWithBlocksInfo [vm]="vm.provideWithBlocksInfoViewModel"></provideWithBlocksInfo>
    </div>

    <div class="page-content-block background-color-white">
      <whyDelegateInfo [vm]="vm.whyDelegateInfoViewModel"></whyDelegateInfo>
    </div>

    <div class="page-content-block background-color-white">
      <contactus [vm]="vm.contactusViewModel"></contactus>
    </div>

  </div>
</div>