.main-layout {
  padding: 80px;
  padding-top: 160px;
  padding-bottom: 0;
}

.layout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
}

.wrapper-top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 124px;
}

h2 {
  margin: 0;
  width: 80%;

  font-family: "Satoshi-Black", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 49px;
  text-transform: uppercase;
  color: #183028;
}

h2 p {
  margin: 0;
}

.circle {
  margin-bottom: 20px;
  background-color: #38bc64;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  transform: translateY(50%);
}

.circle img {
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);
}

.wrapper-bottom {
  display: flex;
  justify-content: space-between;
}

.tree-col {
  width: 265px;
  padding-top: 20px;
}

.tree {
  width: 100%;
}

.content-wrapper {
  width: 67%;
  /* width: 850px; */

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-block {
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  width: 49%;
  padding: 24px;
}

.content-block:nth-child(n + 3) {
  margin-top: 2%;
}

h3 {
  margin: 0;

  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  color: #f07441;
}

.description {
  margin-top: 16px;

  font-family: "Satoshi-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #111d19;
}

.block-big {
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 1130px) {
  .main-layout {
    padding: 80px 16px;
    padding-bottom: 0;
  }
  .wrapper-top {
    margin-bottom: 0;
  }
  .wrapper-bottom {
    margin-top: 0;
    flex-direction: column;
  }

  .tree-col {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .tree {
    width: 200px;
  }
  /* .wrapper-top {
    padding-top: 80px;
  } */

  .circle {
    display: none;
  }

  h2 {
    width: 100%;

    font-family: "Satoshi-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #183028;
  }

  .wrapper-bottom {
    padding-top: 58px;
  }

  h3 {
    font-family: "Satoshi-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #f07441;
  }

  .description {
    font-family: "Satoshi-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0f0f0f;
  }

  .description >>> br{
    display: none;
  }

  .content-wrapper {
    padding-top: 58px;
    width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  .content-block {
    width: 660px;
  }

  .content-block:nth-child(n + 2) {
    margin-top: 16px;
  }
}
@media screen and (max-width: 700px) {
  .content-block {
    width: 100%;
  }
}
@media screen and (max-width: 220px) {
  .tree {
    width: 100%;
  }
}
