.layout {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    display: grid;
    grid-template-areas: "header"
        "content"
        "footer";
    grid-template-rows: 50px 1fr auto;
}

.header {
    grid-area: header;
    position: relative;
}

.content {
    grid-area: content;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.footer {
    grid-area: footer;
}