<div class="layout">
  <div class="content">
    <div class="left-half">
      <h2
        class="title"
        [innerHTML]="vm.title | safeHtml"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-delay="200"
        data-aos-easing="ease"
        data-aos-duration="400"
      ></h2>
      <p
        [innerHTML]="vm.firstParagraph | safeHtml"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-delay="200"
        data-aos-easing="ease"
        data-aos-duration="400"
      ></p>

      <div
        class="button-container"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-delay="200"
        data-aos-easing="ease"
        data-aos-duration="400"
      >
        <buttonGreen contentText="GET IN TOUCH"></buttonGreen>
      </div>
    </div>
    <div
      class="right-half"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-delay="200"
      data-aos-easing="ease"
      data-aos-duration="400"
    >
      <div class="square-img">
        <img [src]="vm.imageUri" alt="employee" />
      </div>
    </div>
  </div>
</div>
