<div class="main-layout">
  <div class="layout">
    <h3
      class="header"
      [innerHTML]="vm.header | safeHtml"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-easing="ease"
      data-aos-duration="400"
    ></h3>

    <div class="content-container">
      <div class="left-content-container">
        <div class="block-left">
          <p
            class="description"
            [innerHTML]="vm.description | safeHtml"
            data-aos="fade-up"
            data-aos-delay="200"
            data-aos-easing="ease"
            data-aos-duration="400"
          ></p>
          <div
            class="btn-container"
            data-aos="fade-up"
            data-aos-delay="200"
            data-aos-easing="ease"
            data-aos-duration="400"
          >
            <buttonBottomBorderGreenWithArrow
              [contentText]="vm.btnName"
            ></buttonBottomBorderGreenWithArrow>
          </div>
        </div>
      </div>

      <div class="right-content-container">
        <div class="item-container" *ngFor="let item of vm.content">
          <whyDelegateInfoItem class="item" [vm]="item"></whyDelegateInfoItem>
        </div>
      </div>
    </div>
  </div>
</div>
