<div class="main-container">
  <div class="content-container">
    <div class="header-container">
      <div
        class="header"
        [innerHTML]="vm.header | safeHtml"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-easing="ease"
        data-aos-duration="400"
      ></div>
      <img
        class="arrow-down-image"
        src="../../../../assets/Images/ArrowDown.svg"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-easing="ease"
        data-aos-duration="400"
      />
    </div>

    <div class="items-container">
      <div
        class="item-container"
        [class.first-item]="first"
        *ngFor="let item of vm.content; let first = first"
      >
        <div class="left-part">
          <div
            class="image-container"
            data-aos="fade-up"
            data-aos-delay="200"
            data-aos-easing="ease"
            data-aos-duration="400"
          >
            <img class="image" [src]="item.imageUrl" />
          </div>

          <div class="line-vertical-item"></div>
          <div
            class="title-item"
            [innerHTML]="item.title | safeHtml"
            data-aos="fade-up"
            data-aos-delay="200"
            data-aos-easing="ease"
            data-aos-duration="400"
          ></div>
        </div>

        <div
          class="description-item"
          [innerHTML]="item.description | safeHtml"
          data-aos="fade-up"
          data-aos-delay="200"
          data-aos-easing="ease"
          data-aos-duration="400"
        ></div>
        <div class="line-item"></div>
      </div>
    </div>
  </div>
</div>
